[submodule "1-DialogFlow-API"]
	path = 1-DialogFlow-API
	url = https://github.com/nikiljos/shn-dialogflow-api
[submodule "2-Github-API"]
	path = 2-Github-API
	url = https://github.com/nikiljos/shn-github-api
